html,body{width:100%;height:100%}
html{background:rgba(0,0,0,0.75);font-family:'Helvetica Neue','Helvetica',sans-serif;overflow:hidden}
.hidden{opacity:0}
.link{stroke:none}
.nodetext{pointer-events:none;font:16px sans-serif;font-weight:bold;padding:16px}
.hovered .nodetext{fill:#fff;stroke:none}
svg{-webkit-transition:opacity .2s linear}
.rect{fill:#ccc}
.friend .rect{fill:#0c0}
.hovered .rect{fill:#09c}
#preview{width:50px;height:50px;position:absolute;display:none;z-index:2;top:0;left:0}
#instructions{position:absolute;display:none;width:100%;text-align:center;color:#fff;text-shadow:0 1px 0 #000;font-size:32px;font-weight:200;padding:16px;top:0;left:0}
#swypMessages{position:absolute;top:64px;left:0;width:100%}
.swypStatusControls,#swypOutControls{position:absolute;z-index:3}
.swyp_thumb{display:block;position:fixed;z-index:4;margin:-25px;text-decoration:none;}
.swyp_thumb span{background:rgba(0,0,0,0.50);color:#fff;border-radius:8px;padding:4px 8px;display:block;position:absolute;width:160px;text-align:center}
.swyp_thumb img{width:100px;height:100px;box-shadow:0 0 8px rgba(0,0,0,0.50)}
.top{top:0;left:50%;}
.top span{margin-top:16px;margin-left:-42px}
.right{top:50%;right:0;}
.right span{margin-left:-200px;margin-top:-64px}
.bottom{bottom:0;left:50%;}
.bottom span{margin-top:-144px;margin-left:-42px}
.left{top:50%;left:0;}
.left span{margin-top:-64px;margin-left:124px}
